@media screen and (max-width: 770px) {
  footer img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 990px) {
  footer svg {
    float: left;
  }

  footer img {
    width: 140%;
    height: auto;
  }
}

footer {
  font-family: Montserrat;
}

footer p {
  font-size: 12px;
  font-weight: normal;
}

footer hr {
  color: #0b5ed7;
}

footer button {
  color: white;
  height: 64px;
  width: 217px;
  left: 851px;
  top: 1995px;
  border-radius: 8px;
  padding: 20px, 32px, 20px, 32px;
  background: linear-gradient(253.61deg, #1d80f0 0%, #0d509d 100%);
  border: none;
}

button {
  color: white;
  height: 64px;
  width: 300px;
  left: 200px;
  top: 200px;
  border-radius: 8px !important;
  padding: 20px, 32px, 20px, 32px;
  background: linear-gradient(253.61deg, #1d80f0 0%, #0d509d 100%);
  border: none;
  font-weight: normal;
  font-family: Montserrat;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
