body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu;
  background-color: #f2f2f2;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show dasd*/
  -webkit-box-orient: vertical;
}

.bg-gradient-bpr {
  background-image: linear-gradient(to right, #0d509d, #1769c6);
}

.flex-container {
  display: flex;
  height: 87vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-layanan {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

.card-layanan:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card-heading h5 {
  opacity: 1;
  transition: 0.5s;
}

.card-heading:hover h5 {
  opacity: 0;
}

.card-img-overlay p {
  opacity: 0;
  transition: 0.5s;
  text-align: center;
}

.card-img-overlay:hover p {
  opacity: 1;
  text-align: center;
  color: white;
}

.card-layanan img {
  opacity: 1;
  transition: 0.5s;
}

.card-layanan:hover img {
  opacity: 0.25;
}

.logo {
  flex: 2;
}

.logo img {
  margin-top: 10%;
  height: 10vw;
}

.bpr {
  font-size: 200px;
  margin-top: 1%;
  margin-bottom: 1%;
  font-weight: bold;
}

.dpl {
  font-size: 28px;
  margin-top: 1%;
  font-weight: bold;
}

.left-option {
  flex: 1;
}

.right-option {
  flex: 1;
}

footer {
  font-family: Montserrat;
}

footer p {
  font-size: 12px;
  font-weight: normal;
}

footer h3,
h5,
h6 {
  font-weight: bolder;
}

.bold {
  font-weight: bold;
  font-size: 18px;
}

footer tr,
td {
  padding: 0 !important;
  margin: 0 !important;
}

hr {
  opacity: none !important;
}

/* .col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 18px;
  padding-left: 18px;
} */

.img-fit {
  object-fit: cover;
}

.stretch-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
}

.grid-margin {
  margin-bottom: 2rem;
}

.position-relative {
  position: relative !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.card-title {
  -webkit-text-stroke: 0.2px black;
}

.main-berita img {
  opacity: 0.8;
}

.berita a {
  text-decoration: none;
  color: white !important;
}

.berita a:link {
  text-decoration: none;
}

.berita a:visited {
  text-decoration: none;
}

.berita a:hover {
  text-decoration: underline;
}

.berita a:active {
  text-decoration: underline;
}

.content-wrapper .banner-content {
  position: absolute;
  padding: 40px 20px;
  left: 0px;
  bottom: 0px;
  color: #ffffff;
}

.judul {
  color: #0f54a3 !important;
  text-transform: uppercase !important; 
}

.judul1 {
  color: #0f54a3 !important;
}

.deskripsi aside {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show dasd*/
  -webkit-box-orient: vertical;
}
