h1 {
  color: #0f54a3 !important;
  font-family: "Montserrat";
  font-size: 2rem !important;
}

section p {
  color: #646464 !important;
  font-family: "Montserrat";
}

.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
  width: 24rem;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card-image {
  width: auto;
  height: 175px;
}

.img-fit {
  object-fit: cover;
}

.form-transition {
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.form-transition:hover {
  transform: scale(1.05);
}

main button {
  color: white;
  height: 64px;
  width: 300px;
  left: 200px;
  top: 200px;
  border-radius: 8px;
  padding: 20px, 32px, 20px, 32px;
  background: linear-gradient(253.61deg, #1d80f0 0%, #0d509d 100%);
  border: none;
  font-weight: normal;
  font-family: Montserrat;
}

main button:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

main button img {
  width: 2rem;
}
