nav a {
  font-weight: bold;
}
.nav-link {
  font-weight: bold !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.sticky-top {
  position: fixed;
  top: 0;
  z-index: 1040 !important;
}
