.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
  width: 24rem;
}

@media screen and (max-width: 489px) {
  .card {
    width: 330px;
  }
}

@media screen and (min-width: 489px) and (max-width: 700px) {
  .card {
    width: 470px;
  }
}
@media screen and (min-width: 700px) and (max-width: 990px) {
  .card {
    width: 300px;
  }
}

@media screen and (min-width: 990px) and (max-width: 1200px) {
  .card {
    width: 400px;
  }
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.img-deposito {
  width: 98.7%;
  height: 10%;
}
.img-fit {
  object-fit: cover;
}
.h1 {
  color: #0f54a3;
  font-family: 'Montserrat';
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.text-color {
  color: #0f54a3;
}

.gambar img {
  cursor: pointer;
}

.card-layanan {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

.card-layanan:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card-heading h5 {
  opacity: 1;
  transition: 0.5s;
}

.card-heading:hover h5 {
  opacity: 0;
}

.card-img-overlay p {
  opacity: 0;
  transition: 0.5s;
  text-align: center;
}

.card-img-overlay:hover p {
  opacity: 1;
  text-align: center;
  color: white;
}

.card-layanan img {
  opacity: 1;
  transition: 0.5s;
}

.card-layanan:hover img {
  opacity: 0.25;
}

button {
  color: white;
  height: 64px;
  width: 300px;
  left: 200px;
  top: 200px;
  border-radius: 8px !important;
  padding: 20px, 32px, 20px, 32px;
  background: linear-gradient(253.61deg, #1d80f0 0%, #0d509d 100%);
  border: none;
  font-weight: normal;
  font-family: Montserrat;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

button img {
  width: 2rem;
}

.form-transition {
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.form-transition:hover {
  transform: scale(1.05);
}

.deskripsi p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show dasd*/
  -webkit-box-orient: vertical;
}

.background-transparan {
  background: rgba(0, 0, 0, 0.5);
}
